*.a
*.bak
*.dSYM
*.la
*.lo
*.log
*.o
*.pc
*.sw*
*.test
*~
.deps/
/config.status
/doc/argtable.3
/doc/argtable2.3
/doc/argtable2.html
/doc/Makefile
/example/Makefile
/libtool
/Makefile
/src/.libs
/src/config.h
/src/Makefile
/src/stamp-h1
/tests/Makefile
